.T_chexi_width{
		width :40px;
		}
.T_vin_width{
		width :145px;
		}
.T_chexing_width{
		width :130px;
		}
.T_yanse_width{
		width :40px;
		}
.T_nianfen_width{
		width :40px;
		}
.T_peizhi_width{
		width :82px;
		}
.T_dingdanleixing_width{
		width :70px;
		}
.T_teshudanhao_width{
		width :70px;
		}
.T_beizhu_width{
		width :105px;
		}
.T_xuhao_width{
		width :40px;
		}
.T_daiwancheng_width{
		width :49px;
		}
.lingbujianmingchen{
         width :300px;
        }   