/*

td{border:1px solid black;font-size: 8px;font-family: "宋体"}
        thead{padding: 0;margin: 0;border:none;}
        thead td{border:none;}*/

.notPrintable{
	display: none;
}
.printable{
	display: block;
	margin: 0;
}

body{
	margin:0;
	margin-left: 5pt;
}

table {
	border-collapse: collapse;
	margin-bottom: 7pt;
}

.docCode {
	height: 20px;
	border:none;
}

#logo {
	height: 28px;
	width: 142px;
	position: absolute;
	top: 15pt;
}

#tableHead td{
	text-align: center;
}

td {
	font-family: "Microsoft YaHei";
	font-size: 8pt;
	border:1pt solid gray;
}

th {
	border: none;
	font-family: "Microsoft YaHei";
	font-size: 14pt;
}

.trInfo {
	height: 20pt;
	/*text-align: center;*/
}

.trInfo td {
	width: 42pt;
}

td.barcode {
	width: 297pt;
}

tr.trList {
	height: 14pt;
	width: 811pt;
}

td.tdList {
	width: 168pt;
}

td.tdCheck {
	width: 28pt;
}

.alignCenter {
	text-align: center;
}