/* CSS Document */
.headBadge{
	line-height: 36px;
	margin-left: 16px;
}

#accordionLane{
	margin-left: 0;
}


.block a {
    margin: 5px 0;
}

.block p {
    margin: 0 5px;
}

.block .progress {
    margin-bottom: 0;
}

.laneContainer {
	width: 220px;
}

.distribution {
	padding-right: 0; 
	padding-left: 10px;
}

.resetLane{
	padding-left: 0;
	padding-right: 0; 
}


.offset4 {
    margin-left: 320px;
}

.input-medium {
    width: 160px;
}

#newModal{
	margin: 0 0 0 -420px;
	width: 800px;
	font-size: 12px;
}

 #laneModal{
	margin: -360px 0 0 -480px;
	width: 950px;
	font-size: 12px;
}

#newModal .control-label{
	width:60px;
}

#newModal .controls{
    margin-left: 70px;
}

#laneModal .control-label{
	width:100px;
}

#laneModal .controls {
    margin-left: 110px;
}

#laneModal .input-mini{
	width: 25px;
	height:12px;
}

.appendBtn {
	border-radius: 0 3px 3px 0;
	padding: 4px 8px;
	width:15px;
}

#newClearOrder {
	padding: 0 0 0 2px;
	color: red;
}

#newModal legend{
	margin-bottom: 15px;
}


#tableNewOrder {
	margin: 0 auto;
    width: 780px;
}

#tableNewOrder select, #tableNewOrder input {
	margin-bottom: 0;
	font-size: 12px;
	height: 28px;
}

#tableNewOrder input, #tableDistribution input, #tableAdjust input {
	height: 18px;
	margin: 0;
}

#tableDistribution .icon-large:before {
    vertical-align: -8%;
}

#tableDistribution,#tableAdjust {
	margin-bottom: 20px;
	font-size: 11px;
}

#tableDistribution a, #tableAdjust a{
	font-size: 11px;
}