.org-level-label {
    float: right;
}

.bt-item-frame {
    cursor: pointer;
}

.bp-item {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bp-item-wrap {
    position: absolute;
    width: 114px;
    top: 2px;
    left: 2px;
}

.bp-corner-all {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.bp-title-frame {
    width: inherit;
    height: 20px;
}

.bp-title {
    width: inherit;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.bp-item-dispname {
    width: inherit;
    height: 20px;
    top: 30px;
    padding-left: 5px;
    line-height: 20px;
    font-size: 12px;
}