#panelPositionPyramid {
    overflow: auto;
}

#channelLabels h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

#channelLabels .label {
    display: block;
}

#PyramidSelection {
    height: 570px;
}

#positionLevel {
    margin-top: 15px;
}

#positionPyramid {
    width: 670px;
    height: 510px;
    background: url('../../../img/hr/positionPyramid.png');
}

.pyramid-grade {
    position: absolute;
    background: none;
    font-size: 14px;
    color: #999;
    display: block;
    height: 84px;

}.pyramid-grade:hover, .pyramid-grade.active {
    text-decoration: none;
    color: #fff;
}

.pyramid-grade-text {
    margin-top: 35px;
    line-height: 14px;
    text-align: center;
    display: block;
}

.pyramid-triangle {
    line-height: 20px;
}

.grade-mg {
    width: 106px;
    top: 10px;
    left: 298px;
}.grade-mg:hover, .grade-mg.active {
    background: url('../../../img/hr/pyramidGrades.png') 0 0;
}

.pyramid-triangle .pyramid-grade-text {
     margin-top: 40px;
}

.grade-chief {
    width: 162px;
    top: 90px;
    left: 296px;
}.grade-chief:hover, .grade-chief.active {
    background: url('../../../img/hr/pyramidGrades.png') 0 -85px;
}

.grade-high-engineer {
    width: 110px;
    top: 90px;
    left: 242px
}.grade-high-engineer:hover, .grade-high-engineer.active {
    background: url('../../../img/hr/pyramidGrades.png') -166px -85px;
}

.grade-high-engineer .pyramid-grade-text {
    line-height: 18px;
}

.grade-coach .pyramid-grade-text {
    line-height: 18px;
    margin-top: 23px;
    margin-left: 7px;
}

.grade-coach-3 {
    width: 162px;
    top: 171px;
    left: 348px;
}.grade-coach-3:hover, .grade-coach-3.active {
    background: url('../../../img/hr/pyramidGrades.png') -0px -172px;
}

.grade-engineer {
    width: 216px;
    top: 171px;
    left: 189px;
}.grade-engineer:hover, .grade-engineer.active {
    background: url('../../../img/hr/pyramidGrades.png') -166px -172px;
}

.grade-engineer-as {
    width: 269px;
    top: 253px;
    left: 189px;
}.grade-engineer-as:hover, .grade-engineer-as.active {
    background: url('../../../img/hr/pyramidGrades.png') -166px -257px;
}

.grade-coach-2 {
    width: 162px;
    top: 253px;
    left: 401px;
}.grade-coach-2:hover, .grade-coach-2.active {
    background: url('../../../img/hr/pyramidGrades.png') -0px -257px;
}

.grade-technician {
    width: 111px;
    top: 253px;
    left: 133px;
}.grade-technician:hover, .grade-technician.active {
    background: url('../../../img/hr/pyramidGrades.png') -437px -257px;
}

.grade-mechanic {
    width: 430px;
    top: 334px;
    left: 81px;
}.grade-mechanic:hover, .grade-mechanic.active {
    background: url('../../../img/hr/pyramidGrades.png') -166px -345px;
}

.grade-mechanic .pyramid-grade-text {
    line-height: 18px;
    margin-top: 25px;
}

.grade-coach-1 {
    width: 162px;
    top: 334px;
    left: 454px;
}.grade-coach-1:hover, .grade-coach-1.active {
    background: url('../../../img/hr/pyramidGrades.png') -0px -345px;
}

.grade-worker {
    width: 650px;
    top: 416px;
    left: 25px;
}.grade-worker:hover, .grade-worker.active {
    background: url('../../../img/hr/pyramidGrades.png') -0px -430px;
}

.position-level {
    height: 79px;
    line-height: 79px;
    border-bottom: 2px solid #fff;
    color: #fff;
    text-align: center;
    background-color: #ccc
}.position-level.active {
    background-color: #d9534f;
}

.sub-level {
    height: 28px;
    line-height: 28px;
}

.list-group-item .btn-link, .list-group-item a {
    color: #777;
}

.list-group-item .btn-group {
    display: none;
}
.list-group-item:hover .btn-group,  .list-group .active .btn-group {
    display: block;
}

.list-group-item .btn-link:hover, .list-group-item a:hover {
    color: #fff;
}

.list-group-item .fa-edit:hover {
    color: #5cb85c;
}

.list-group-item .fa-trash-o:hover {
    color: #d9534f;
}

li.list-group-item:hover {
    text-decoration: none;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}
li.list-group-item:hover a, li.list-group-item:hover .btn-link {
    color: #fff;
}

#currentPositionBtnGroup {
    float: right;
}

.current-position-description dd {
    margin-left: 30px;
    margin-bottom: 10px
}