.well {
	margin-bottom: 10px;	
}
#resultTable {
	font-size: 12px;
}

.tableContainer {
	margin-left: 0;
	/*padding-top: 10px;*/
}
#tableCarsDistribute {
	margin-bottom: 10px;
	font-size: 12px;
}

#tableCarsDistribute thead td {
	text-align: center;
	width: 60px;
}

#tableCarsDistribute tbody td {
	text-align: right;
	width: 60px;
}

#tableCarsDistribute  .alignCenter {
	text-align: center;
}

#tableCarsDistribute .configNameTd {
	min-width: 260px;
	text-align: left;
}

.checkbox {
	margin-right: 6px;
	margin-left: 4px;
}

#carsModal {
    width: 950px;
	margin-left: -480px;
}

.modal-header h4 {
	margin-top: 20px;
	margin-bottom: 0;
}

#resultCars {
	font-size: 12px;
}

#area {
	margin: 0;
	width: 80px;
}

#resultTable thead th{
	vertical-align: middle;
}