.well {
	margin-bottom: 10px;	
}


.form-search .checkbox {
	margin-left: 15px;
}

#btnQuery {
	/*margin-left: 2px;*/
	/*margin-right: 7px;*/
	padding-right: 5px;
	padding-left: 0;
}

#tabs {
	margin-bottom: 10px;
}

.alignRight {
	text-align:right;
}

#tableCars, #tablePause, #tablePlan {
	font-size:12px;	
}

.checkbox {
	margin-right: 10px;
}

#checkboxF0 {
	margin-left: 4px;
}


.divider {
	padding-bottom: 7px;
    padding-top: 7px;
}

td label {
	margin-bottom: 0;
}

#selectNode {
	width:100px;
}

th {
	min-width: 30px;
}

th.wideTh {
	min-width: 65px;
}