.well {
	margin-bottom: 10px;	
}


.form-search .checkbox {
	margin-left: 15px;
}

#btnQuery {
	margin-left: 1px;
}

#tabs {
	margin-bottom: 10px;
}

.alignRight {
	text-align:right;
}

#resultTable, #tablePlato, #tableDpu {
	font-size:12px;	
}

.checkbox {
	margin-right: 6px;
	margin-left: 4px;
}