.well {
	margin-bottom: 10px;	
}


.form-search .checkbox {
	margin-left: 15px;
}

#btnQuery {
	margin-left: 1px;
}

#tabs {
	margin-bottom: 0;
}

.alignRight {
	text-align:right;
}

#resultTable, #tablePlato, #tableDpu {
	font-size:12px;	
}

.checkbox {
	margin-right: 6px;
	margin-left: 4px;
}

.tableTestline {
	font-size: 12px;
}

.tableTestline thead th{
	text-align: center;
	vertical-align: middle;
}