.well {
	margin-bottom: 10px;	
}

.input-prepend {
	margin-top: 5px;
}

#standbyDate, #standbyDateEnd{
	width: 94px;
}

#tableOrderCars, #tableOrderDetail {
	font-size:12px;	
}

#divInfo .label{
	font-size: 16px;
	 padding: 2px 8px;
	 line-height: 24px;
}

#tableOrderDetail .totalTd{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

#tableOrderDetail .amountTd, #tableOrderDetail .holdTd, #tableOrderDetail .countTd {
	text-align: right;
}

#tableOrderDetail .thickBorder td{
	border-top-width: 3px;
}

#tableOrderDetail .rowSpanTd{
	background-color: white; 
}

#tableOrderDetail .alignCenter{
	text-align: center;
}

#detailModal {
    width: 950px;
	margin-left: -480px;
}

.modal-header h4 {
	margin-top: 20px;
	margin-bottom: 0;
}

#tableDetail {
	font-size: 12px;
}