<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>BMS.Ver0.1</title>
	<!-- Le styles -->
	<link href="../../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../css/nodeselection-as.css" rel="stylesheet">
	<style type="text/css">
	
	body{

		padding-bottom:40px;
	}
		</style>
        <style type="text/css">td img {display: block;}</style>
	</head>


	<body>
		<form class="form-inline">
  <input type="text" class="input-small" placeholder="Email">
  <input type="password" class="input-small" placeholder="Password">
  <label class="checkbox">
    <input type="checkbox"> Remember me
  </label>
  <button type="submit" class="btn">Sign in</button>
</form>
        
		<script type="text/javascript" src="../../../js/jquery-1.8.0.min.js"></script>
    	<script type="text/javascript" src="../../../js/dropdownmenu.js"></script>

    	
	</body>
</html>