/* CSS Document */
#tableFaultStandard {
	border-bottom: solid 1px #DDDDDD;
	font-size: 12px;

}

#tableFaultStandard .btn-link {
	font-size: 12px;
}

#tabs {
	margin-bottom: 5px;
	margin-top: 5px;
}

.breadcrumb {
	margin-bottom: 5px;
}

#btnQueryF0,#btnQueryM6 {
	margin-top: 10px;
}

#btnAddF0,#btnAddM6 {
	margin-top: 10px;
}

.checkbox {
	margin-left: 15px;	
}