<div class="modal-header" ng-if="title">
    <h4>{{title}}</h4>
</div>
<div class="modal-body" ng-if="content || contentList">
  <h4 class="modal-title" ng-if="content" ng-bind-html="content"></h4>
  <p ng-repeat="content in contentList" ng-if="contentList">{{content}}</p>
  <p class="plus-info text-danger" ng-if="psInfo">{{psInfo}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary"  ng-click="ok()">{{okText}}</button>
  <button type="button" class="btn btn-default" ng-show="showCancel" ng-click="cancel()">{{cancelText}}</button>
</div>
