/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

/*main style*/
html {
  font-family: "Microsoft YaHei", sans-serif;
}

body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 50px;
}
/*main style end*/

/*common style*/
.navbar {
    margin-bottom: 0;
}

.modal-body .nav-tabs {
    margin-bottom: 30px;
}

.modal-footer {
    margin-top: 0;
}

li.list-group-item:hover, li.list-group-item:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}

.list-group-item>.btn, .list-group-item>.btn-group, .panel-heading>.btn, .panel-heading>.btn-group {
    float: right;
}

li.list-group-item>a {
    display: block;
    text-decoration: none;
}
/*common style end*/

/*seed old*/
input.ng-valid.ng-dirty ,textarea.ng-valid.ng-dirty{
    /*background-color: #78FA89;*/
    border-color: #468847;
    -webkit-box-shadow: 0 0 8px #78FA89;
    -moz-box-shadow: 0 0 8px #78FA89;
    box-shadow: 0 0 8px #78FA89;
}

input.ng-invalid.ng-dirty,textarea.ng-invalid.ng-dirty {
    /*background-color: #FA787E;*/
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 8px #f8b9b7;
    -moz-box-shadow: 0 0 8px #f8b9b7;
    box-shadow: 0 0 8px #f8b9b7;
}

