.section-head {
  border-left: 7px solid #000;
  padding-left: 10px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.staff-add .form-horizontal {
  margin-bottom: 40px;
}

.staff-add .save-wrap {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.staff-add .exp-table tbody tr td {
  vertical-align: middle;
}

.staff-add .close:hover, .close:focus {
  color: red;
}

.staff-transfer .table-position .v-a_m,
.staff-transfer .table-position td { vertical-align: middle; }
.staff-transfer .save-wrap,
.staff-resign .save-wrap {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.staff-query .well .org-level { width: 33.333333333333%; }
.staff-query .well .org-level + .org-level { margin-left: -1px; }
.staff-query .well .form-group { margin-bottom: 0; }
.staff-query .well .grade { width: 60%; }
.staff-query .well .staff-grade { margin-left: -1px; width: 40%; }
.staff-query .well .col { float: left; width: 8%; }
.staff-query .well .col + .col { margin-left: 10px; }
.staff-query .well .col_18p { width: 18%; }
.staff-query .well .col_23p { width: 23%; }
.staff-query .well .col_48p { width: 48%; }
.staff-query li.active a { cursor: pointer; }