<div class="staff-query container">
  <legend>员工信息查询</legend>
  <form class="well clearfix" name="formQuery" novalidate>
    <div class="col col_25p">
      <div class="form-group">
        <div class="input-group">
           <span class="input-group-addon">工号/姓名</span>
            <input type="text" class="form-control" ng-model="query.employee" ng-change="clear()">
        </div>
      </div>
    </div>
    <div class="col col_20p">
      <div class="form-group">
        <button class="btn btn-primary" ng-click="btnQuery()">查询</button>
      </div>
    </div>
  </form>
  <div class="alert alert-info" ng-if="state.hasQueried && !basic.id">账号权限下，查无员工信息</div>
</div>
