<div class="staff-add container">
  <legend>入职</legend>
  <div class="form-horizontal mb_40" role="form">
    <div class="form-group">
      <div class="col-sm-3">
        <div class="input-group">
           <span class="input-group-addon">工号</span>
            <input type="text" class="form-control" ng-model="employeeNumber" ng-disabled="state.isEdit">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="query()" tooltip="查询以完善员工信息" tooltip-append-to-body="true" ng-if="!state.isEdit"><span class="glyphicon glyphicon-search"></span></button>
              <button class="btn btn-default" type="button" ng-click="reset()" tooltip="清空查询" tooltip-append-to-body="true" ng-if="state.isEdit"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </div>
      </div>
      <div class="col-sm-9 pl_0" ng-if="state.isEdit">
        <div class="form-control-static">
          <p class="text-success" ng-if="!staffId">新增</p>
          <p class="text-info"  ng-if="staffId">员工信息修改</p>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="state.isEdit">
    <form name="formStaff" novalidate>
      <h4 class="section-head">基本信息</h4>
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>姓名</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="请填写姓名" ng-model="staff.name" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>个人联系电话</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="请填写联系电话" ng-model="staff.contact_phone" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>性别</label>
          <div class="col-sm-4">
            <label class="radio-inline">
              <input type="radio" value="0" ng-checked="true" ng-model="staff.gender">男
            </label>
            <label class="radio-inline">
              <input type="radio" value="1" ng-model="staff.gender">女
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>身份证号</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="请填写身份证号，18位" ng-model="staff.id_number" required ng-minlength="18" ng-maxlength="18">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>籍贯</label>
          <div class="col-sm-2">
            <select class="form-control" ng-model="provinceSelected" ng-options="one.name for one in provinces" ng-change="proviceChanged()">
              <option value="">-- 省份 --</option>
            </select>
          </div>
          <div class="col-sm-2">
            <select class="form-control" ng-model="staff.native_city_id" ng-options="one.id as one.name for one in cities" ng-change="citySelected()" required>
              <option value="" disabled>-- 城市 --</option>
            </select>
            <input type="hidden" ng-model="staff.native_city_id" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>学历</label>
          <div class="col-sm-4">
            <select class="form-control" ng-model="staff.education" required>
              <option value="初中">初中</option>
              <option value="中专">中专</option>
              <option value="高中">高中</option>
              <option value="大专">大专</option>
              <option value="本科">本科</option>
              <option value="硕士">硕士</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>专业</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="请填写专业，大专以下可不填写" ng-if="(staff.education=='初中' || staff.education=='中专' || staff.education=='高中')" ng-model="staff.major">
            <input class="form-control" type="text" placeholder="请填写专业，大专以下可不填写" ng-if="!(staff.education=='初中' || staff.education=='中专' || staff.education=='高中')" ng-model="staff.major" required>
          </div>
          <!-- <div class="col-sm-4 row">
            <p class="form-control-static form-hint">大专以下可不填写</p>
          </div> -->
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>学校</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="请填写学校" ng-model="staff.school" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>紧急联系人姓名</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="请填写紧急联系人姓名" ng-model="staff.emergency_contact" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>紧急联系人电话</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="请填写紧急联系人电话" ng-model="staff.emergency_phone" required>
          </div>
        </div>
      </div>
      <h4 class="section-head">入职信息</h4>
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>工号</label>
          <div class="col-sm-4">
            <!-- <input class="form-control" type="text" placeholder="请填写工号" ng-model="staff.employee_number" required> -->
            <p class="form-control-static">{{staff.employee_number}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>科室/班/组</label>
          <div ng-if="!staffId">
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-4" ng-repeat="level in levels" ng-if="$index">
                  <select class="form-control" ng-model="org[$index]" ng-options="one.display_name for one in org[$index-1].children" ng-change="orgChanged($index)" required>
                    <option value="">- {{level.levelName}} -</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4 row">
              <p class="form-control-static form-hint">请务必填写正确，提交后需走调岗流程修改</p>
            </div>
          </div>
          <div class="col-sm-8" ng-if="staffId">
            <p class="form-control-static">
              <span ng-if="basicInfo.org[0]">{{basicInfo.org[0].display_name}}</span>
              <span ng-if="basicInfo.org[1]">{{basicInfo.org[1].display_name}}</span>
              <span ng-if="basicInfo.org[2]">&nbsp;&gt;&nbsp;{{basicInfo.org[2].display_name}}</span>
              <span ng-if="basicInfo.org[3]">&nbsp;&gt;&nbsp;{{basicInfo.org[3].display_name}}</span>
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>岗位</label>
          <div ng-if="!staffId">
            <!-- <div class="col-sm-2">
              <select class="form-control" ng-model="gradeSeclect" ng-options="gradeName for (gradeName, positions) in grades" ng-change="gradeChanged()">
                <option value="">岗位等级</option>
              </select>
            </div> -->
            <div class="col-sm-4">
              <select class="form-control" ng-model="staff.position_id" ng-options="one.id as one.display_name group by one.grade_name for one in positionList">
                <option value="">岗位名称</option>
              </select>
              <input type="hidden" ng-modle="staff.position_id" required>
            </div>
            <div class="col-sm-4 row">
              <p class="form-control-static form-hint">请务必填写正确，提交后需走调岗流程修改</p>
            </div>
          </div>
          <div class="col-sm-4" ng-if="staffId">
            <p class="form-control-static">
              <span>{{basicInfo.position_display_name}}</span>
              <span>[{{basicInfo.grade_name}}]</span>
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>级别</label>
          <div ng-if="!staffId">
            <div class="col-sm-4">
              <select class="form-control" ng-model="staff.staff_grade" required>
                <option value="I1">I1</option>
                <option value="I2">I2</option>
                <option value="I3">I3</option>
                <option value="H1">H1</option>
                <option value="H2">H2</option>
                <option value="H3">H3</option>
                <option value="G1">G1</option>
                <option value="G2">G2</option>
                <option value="G3">G3</option>
                <option value="F1">F1</option>
                <option value="F2">F2</option>
                <option value="F3">F3</option>
                <option value="E1">E1</option>
                <option value="E2">E2</option>
                <option value="E3">E3</option>
                <option value="D1">D1</option>
                <option value="D2">D2</option>
                <option value="D3">D3</option>
              </select>
            </div>
            <div class="col-sm-4 row">
              <p class="form-control-static form-hint">请务必填写正确，提交后需走晋升流程修改</p>
            </div>
          </div>
          <div class="col-sm-4" ng-if="staffId">
            <p class="form-control-static">{{basicInfo.staff_grade}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>底薪</label>
          <div ng-if="!staffId">
            <div class="col-sm-4">
              <input class="form-control" type="number" placeholder="请填写底薪，必须为数字，如2500" ng-model="staff.basic_salary" required>
            </div>
            <div class="col-sm-4 row">
              <p class="form-control-static form-hint">请务必填写正确，提交后需走定薪流程修改</p>
            </div>
          </div>
          <div class="col-sm-4" ng-if="staffId">
            <p class="form-control-static">****</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>入职日期</label>
          <div ng-if="!staffId">
            <div class="col-sm-4">
              <input class="form-control" type="text" placeholder="请填写入职日期，不可晚于上岗日期" datepicker-popup max-date="staffForm.startDate.val" datepicker-append-to-body="true" ng-model="staffForm.enterDate.val" is-open="staffForm.enterDate.opened" ng-click="staffForm.enterDate.opened=true" required>
            </div>
            <div class="col-sm-4 row">
              <p class="form-control-static form-hint">请务必填写正确，提交后无法直接修改</p>
            </div>
          </div>
          <div class="col-sm-4" ng-if="staffId">
            <p class="form-control-static">{{basicInfo.enter_date}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"><span class="require-mark">*</span>上岗日期</label>
          <div ng-if="!staffId">
            <div class="col-sm-4">
              <input class="form-control" type="text" placeholder="请填写上岗日期，不可早于入职日期" datepicker-popup min-date="staffForm.enterDate.val" datepicker-append-to-body="true" ng-model="staffForm.startDate.val" is-open="staffForm.startDate.opened" ng-click="staffForm.startDate.opened=true" required>
            </div>
            <div class="col-sm-4 row">
              <p class="form-control-static form-hint">请务必填写正确，提交后需走调岗流程修改</p>
            </div>
          </div>
          <div class="col-sm-4" ng-if="staffId">
            <p class="form-control-static">{{basicInfo.start_date}}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">工作邮箱</label>
          <div class="col-sm-4">
            <input class="form-control" type="email" placeholder="如有工作邮箱，请填写" ng-model="staff.email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">备注</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="可填写其他需要记录的信息" ng-model="staff.remark">
          </div>
        </div>
      </div>
    </form>
    <form name="formExp" novalidate>
      <div ng-repeat="one in expTypes">
        <h4 class="section-head">{{one.title}}</h4>
        <table class="exp-table table mb10">
          <thead>
            <tr>
              <th><button class="btn btn-success btn-xs" ng-click="addExp(one)"><span class="glyphicon glyphicon-plus"></span></button></th>
              <th class="col-sm-2">开始日期</th>
              <th class="col-sm-2">结束日期</th>
              <th class="col-sm-8">概述</th>
            </tr>
          </thead>
          <tbody id="career" class="exp-tbody">
            <tr ng-repeat="exp in one.expArr">
              <td><button type="button" class="close" ng-click="removeExp(one.expArr, $index)" ng-if="one.expArr.length>1"><span class="delete-row">×</span></button></td>
              <td><input class="form-control" type="text" placeholder="请填写开始日期" datepicker-popup max-date="exp.end_date.val" datepicker-append-to-body="true" ng-model="exp.start_date.val" is-open="exp.start_date.opened" ng-click="exp.start_date.opened=true" required></td>
              <td><input class="form-control" type="text" placeholder="请填写开始日期" datepicker-popup min-date="exp.start_date.val" datepicker-append-to-body="true" ng-model="exp.end_date.val" is-open="exp.end_date.opened" ng-click="exp.end_date.opened=true" required></td>
              <td>
                <textarea class="form-control" rows="1" placeholder="如：汽车装配工  总装长沙工厂/TA  比亚迪汽车有限公司第十一事业部" ng-model="exp.description" required ng-if="exp.type=='career'"></textarea>
                <textarea class="form-control" rows="1" placeholder="如：汽车工程  武汉理工大学" ng-model="exp.description" required ng-if="exp.type=='training'"></textarea>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
    <div class="save-wrap text-center row">
      <div class="col-sm-6">
        <button class="btn btn-primary btn-save pull-right" ng-click="saveStaff()" ng-disabled="formStaff.$invalid || formExp.$invalid">提交员工信息</button>
      </div>
      <div class="col-sm-6">
        <span class="text-warning pull-left l-h_34" ng-show="formStaff.$invalid || formExp.$invalid">信息不完整，不可提交</span>
      </div>
    </div>
  </div>
</div>
