#startTime {
	height: 15px;
    margin: 0 20px 5px 10px
}

#headText {
	font-size: 20px;
	margin-top:5px;
	margin-right:20px;
}

.tab-pane{
	min-height: 400px;
}

.manufactureDailyChart {
	height: 300px;
}

.table {
	margin-bottom: 0;
}

#recycleDonutContainer{
	margin-left: 10px;
}

.alignCenter {
	width: 120px;
}

.completionTable th, .useTable th, #manufactureDailyTable th {
	min-width: 50px;
}

.completionTable, .useTable, #overtimeCarsTable{
	font-size: 12px;
}

.completionChart, .recycleChart {
	height: 320px;
}

#manufactureDailyTable .countMonth{
	background-color: #D9EDF7;
}