.notPrintable{
	display: none;
}

.offhead {
	margin-top: 10px;
}

#startTime {
	height: 15px;
    margin: 0 10px 5px 10px
}

#headText {
	font-size: : 14px;
}

#btnGroupPrint {
	margin-bottom: 5.5px;
}

#tabUl{
	margin-bottom: 5px;
}

legend {
	margin-bottom: 5px;
}

.tab-pane{
	min-height: 400px;
}

.manufactureDailyChart,.completionChart, .recycleChart, .useChart, .warehouseChart {
	height: 300px;
}

.manufactureDailyChartPrint,.completionChartPrint, .recycleChartPrint, .useChartPrint, .warehouseChartPrint {
	height: 300px;
}

.divLoading {
	height: 200px;
	margin: 100px auto 0;
}

.table {
	margin-bottom: 0;
}

#recycleDonutContainer{
	margin-left: 10px;
}

.alignCenterDaily {
	width: 120px;
}

.alignRight {
	text-align:right;
}

#tablePause .alignRight{
	text-align: right;
	padding-right: 15px;
}

.completionTable th, .useTable th, #manufactureDailyTable th {
	min-width: 50px;
}

.completionTable, .useTable, .overtimeCarsTable, .tablePause, .overtimeOrdersTable {
	margin-top: 10px;
	font-size: 12px;
}

#manufactureDailyTable {
	margin-top: 10px;
}

#manufactureDailyTable .countMonth{
	background-color: #D9EDF7;
}

.thickBorder td{
	border-top-width: 3px;
}
.rowSpanTd{
	background-color: white; 
}

.alignCenter{
	text-align: center;
}