.well {
	margin-bottom: 10px;	
}
#resultTable {
	font-size: 12px;
}

.tableContainer {
	margin-left: 0;
	/*padding-top: 10px;*/
}
#resultCheckin, #resultCheckout  {
	margin-bottom: 10px;
	font-size: 12px;
}

#tabs {
	margin-bottom: 5px;
}