
.mainContainer{
	width:840px;
	height:505px;
	color: #FFF;
}
.main {
	position: relative;
	/*background-image:url('../../../../img/monitorLayout-cs-as.Ver1.2.width840-hq.jpg');*/
	background-image:url('../../../../img/workshop_1200x354.jpg');
	background-repeat:no-repeat;
	width:1200px;
	height:314px;
	/*color: #FFF;*/
	/*font-weight:bold;*/
	font-size:9px;
	text-align:center;	
	z-index: 100; 
	overflow: hidden;
}

#pbsBalanceTable {
	font-size: 12px;
}
/*#detecthouse*/
 #background {
	position: relative;
	/*background-image:url('../../../../img/detecthouse.png');*/
	/*background-image:url('../../../../img/detecthouse_w721h400.png');*/
	background-image:url('../../../../img/house551x420.png');
	background-repeat:no-repeat;
	/*width:1024px;*/
	/*height:568px;*/
	/*width:721px;*/
	/*height:400px;*/
	width:551px;
	height:420px;
	/*color: #FFF;*/
	font-weight:bold;
	font-size:9px;
	text-align:center;	
	z-index: 100; 
	overflow: hidden;
}
#warehouse {
	position: relative;
	/*min-height: 500px;*/
	/*color: #FFF;*/
	font-weight:bold;
	font-size:9px;
	z-index: 100; 
	/*overflow: hidden;*/
	max-height: 480px;
    overflow-y: hidden;
}

#warehouseContainer{
	margin: 0 auto;
	width: 572px;
	background-color: white;
}

#capacityRate {
	margin: 0 auto;
	width: 460px;
	height: 30px;
}

#capacityRate .progress{
	margin-bottom: 0;
	margin-left: 5px;
}

#warehouseBack{
	background: url('../../../../img/warehouse_572x420.png') no-repeat 0 0;
	width: 572px;
	height: 420px;
	z-index: 200;

}

.warehouseImg{
	position: relative;
	left: 0;
	top: -933px;
	z-index: 200;

}

.progressBlue {
	background: rgb(70,180,215);
	height: 100%;
	opacity:0.5;
}

.containerG{
	height: 68px;
    left: 134px;
    position: relative;
    top: -410px;
    width: 225px;
    z-index: 105;
	border:1px solid;
	border-color: red red;
	/*border-color: red;
	border-width: 4px;
	border-style: solid*/
}

.progressG{
	width:100%;
	float: right;
}

.containerF{
    height: 107px;
    left: 68px;
    position: relative;
    top: -450px;
    width: 58px;
    z-index: 120;
    border:1px solid;
	border-color: red red;
}

.progressF{
	float: right;
	width:100%;
	right:0;
}

.maskF {
	position:relative;
	height:65px;
	width:226px;
	left:135px;
	top:-510px;
	background: white;
	z-index: 110;
}

.containerE{
	height: 64px;
    left: 134px;
    position: relative;
    top: -515px;
    width: 225px;
    z-index: 105;
	border:1px solid;
	border-color: red red;
}

.progressE{
	width:100%;
	float: right;
}

.containerABCD{
    position: relative;
	height: 65px;
    width: 126px;
    z-index: 120;
    border:1px solid;
	border-color: red red;
}

.containerD{
	left: 370px;
    top: -655px;
}

.progressD{
	width:100%;
	width:100%;
}

.containerC{
	left: 370px;
    top: -648px;
}

.progressC{
	width:100%;
}

.containerB{
	left: 370px;
    top: -644px;
}

.progressB{
	width:100%;
}

.containerA{
	left: 370px;
    top: -640px;
}

.progressA{
	width:100%;
}

#detect {
	position: relative;
	/*background-image:url('../../../../img/warehouse.png');*/
	background: url('../../../../img/detect.jpg') no-repeat 0 0;

	/*width: 870px;*/
	min-height: 500px;
	/*color: #FFF;*/
	font-weight:bold;
	font-size:9px;
	z-index: 100; 
	overflow: hidden;
	margin-left: 150px;
}

.t1{
	left:408px;
}	

.t2{
	left:519px;
}

.t3{
	left:551px;
}

.c1{
	left:641px;
}
.c2{
	left:713px;
}
.f1{
	left:839px;
}

.f2{
	left:911px;
}
.range{
	z-index: 101;
	cursor: pointer;
	position: absolute;
	/*background: url('../../img/T-range.png') repeat-x;*/
	border-radius: 2px;
	line-height: 9px;
	height: 20px;
	width: 46px;
	top:96px;
	color: black;
	/*border:1px solid;
	border-color: #fff #c0d1e3;*/
	/*border-color: red;
	border-width: 4px;
	border-style: solid*/
}
 
.range:hover{border:4px solid red;border-radius: 5px;}

.optNode{
	cursor: pointer;
	border-radius: 20px;
	border: 2px solid #76A9E0;
	position: absolute;
	top: 84px;
	width: 30px;
	height: 16px;
	line-height: 16px;
	color: #76A9E0;
}
.optNode:hover{
	border-color: red;
	color: #F79C53;
}
.ef1{
	left: 130px;
}
.ef2{
	left: 165px;
}
.ef3{
	left: 565px;
}
.main_chain{
	left: 235px;
}
.ui-tooltip-content {
	text-align: center;
}
.pbs{
	cursor: pointer;
	border-radius: 4px;
	/*border: 2px solid #76A9E0;*/
	position: absolute;
	top: 152px;
	left: 93px;
	width: 50px;
	height: 30px;
	line-height: 26px;
/*	border-style:solid;
	border-color: red;*/
}
/*.pbs:hover{border:3px solid #9966FF;}*/

.vq1{
	cursor: pointer;
	border-radius: 4px;
	position: absolute;
	top: 152px;
    left: 1103px;
	width: 20px;
	height: 30px;
	line-height: 26px;
}

.vq1:hover{border:3px solid red;}

.vq1_exception{
	cursor: pointer;
	border-radius: 4px;
    height: 50px;
    line-height: 26px;
    position: absolute;
    top: 168px;
    left: 1080px;
    width: 30px;
}
/*.vq1_exception:hover{border:3px solid red;}*/

.andon_bord{
	cursor: pointer;
	border-radius: 5px;
	position: absolute;
	top: 90px;
	left: 1068px;
	width: 65px;
	height: 38px;
	line-height: 40px;
	/*border-color: red;
	border-width: 4px;
	border-style: solid;*/
}
.andon_bord:hover{border:4px solid red;}

.node_pbs{
	height: 35px;
    left: 48px;
    position: absolute;
    top: 172px;
    width: 35px;
	/*border-color: red;
	border-width: 2px;
	border-style: solid;*/
}

.node_t0{
	position: absolute;
	left: 367px;
	width: 35px;
	height: 35px;
	top: 173px;
	/*border-color: red;
	border-width: 2px;
	border-style: solid;*/
}

.node_vq1{
	position: absolute;
	left: 1050px;
	width: 35px;
	height: 35px;
	top: 173px;
	/*border-color: blue;
	border-width: 2px;
	border-style: solid;*/
}

.ui-tooltip-blue{
	border-radius: 2px;
	/*width: 40px;*/
	text-align: center;
	min-width: 30px;
	font-size: 20px;
	word-wrap: normal;
	/*background: #3278C8;*/
	/*color:white;*/
	background: none;
	color:#3278C8;
	border:none;
}

.ui-tooltip-purple{
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
	min-height: 25px;
	line-height: 25px;
	font-size: 24px;
	word-wrap: normal;
	color: #9966FF;
	background: none;
	border:3px solid transparent;
}
.ui-tooltip-purple:hover{border:3px solid #9966FF;}

.ui-tooltip-red{
	border-radius: 2px;
	/*width: 40px;*/
	text-align: center;
	min-width: 30px;
	font-size: 20px;
	word-wrap: normal;
	/*color:white;
	background: red;*/
	color: red;
	background: none;
	border:none;
}


.pauseTimeArea{
	position: absolute;
	top:58px;
	left:360px;
	text-align: center;
	font-size: 16px;
}

.pauseTime {
	position: absolute;
	top: 5px;
	width:40px;
	text-align: center;
}

#pauseTimeDevice {
	left:5px;
}

#pauseTimeT1 {
	left:55px;
}

#pauseTimeT2 {
	left:165px;
}

#pauseTimeT3 {
	left:198px;
}


#pauseTimeC1 {
	left:289px;
}

#pauseTimeC2 {
	left:360px;
}

#pauseTimeF1 {
	left:486px;
}

#pauseTimeF2 {
	left:558px;
}

#pauseTimeVQ1 {
	left:630px;
}



#totalPauseTime {
	left:725px;
	font-size: 20px;
}

#useRate {
	position: absolute;
	font-size:20px;
	color: green;
	top:103px;
	left:1150px;
}

#recycle {
	position: absolute;
	font-size:24px;
	color: #9966FF;
	top:178px;
	left:1150px;
}

#speed {
	position: absolute;
	font-size:20px;
	color: green;
	top:78px;
	left:20px;
}

.stop_mark{
	/*background-image:url('../../../../img/stop-mark.png');*/
	background-color: red;
    border-color: black;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    color: white;
    font-size: 16px;
    height: 18px;
    left: 410px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 99px;
    width: 46px;

}

.tab-pane {
	margin: 0 auto;
}

.stockyard{
	position: absolute;
	color: white;
	width: 38px;
	height: 14px;
	cursor: pointer;
	border-radius: 2px;
	border:2px solid #7ECAE2;
	line-height: 14px;
}
.stockyard:hover{border:2px solid #ff01ed;}
.A01{left:412px;top: 216px;}
.A03{left:412px;top: 194px;}
.A05{left:412px;top: 172px;}
.A07{left:412px;top: 151px;}
.A09{left:412px;top: 129px;}
.A11{left:412px;top: 107px;}
.A13{left:412px;top: 85px;}
.A15{left:412px;top: 63px;}

.A02{left:365px;top: 216px;}
.A04{left:365px;top: 194px;}
.A06{left:365px;top: 172px;}
.A08{left:365px;top: 151px;}
.A10{left:365px;top: 129px;}
.A12{left:365px;top: 107px;}
.A14{left:365px;top: 85px;}
.A16{left:365px;top: 63px;}

.B01{position: absolute;color: white;width: 38px;height: 26px;cursor: pointer;border-radius: 2px;border:2px solid #7ECAE2;line-height: 26px;left:412px;top: 29px;}
.B02{position: absolute;color: white;width: 38px;height: 26px;cursor: pointer;border-radius: 2px;border:2px solid #7ECAE2;line-height: 26px;left:365px;top: 29px;}
.B01:hover{border:2px solid #ff01ed;}
.B02:hover{border:2px solid #ff01ed;}


/*.node:hover{border:2px solid #ff01ed;}*/

.node{border-radius: 23px;color: white;
    font-size: 10px;
    height: 21px;position: absolute;width: 21px;cursor: pointer;border:2px solid transparent;}

.outware{left: 177px;top: 229px;}
.inware{left: 203px;top: 265px;}
.road{left: 177px;top: 293px;}
.vq3{left: 61px;top: 300px;}
.leak{left: 108px;top: 300px;}
.check{left: 110px;top: 345px;}

.vq3-balance{color:transparent; height: 64px;position: absolute;width: 68px;cursor: pointer;border:2px solid transparent;left: 34px;top: 276px;line-height: 96px;
font-size: 16px;}
.vq3-balance:hover{color: #9963FF;border-color:  #9963FF;}
.vq2-road{color: transparent;height: 51px;position: absolute;width: 78px;cursor: pointer;border-width: 2px;border-style: solid none none solid;border-color:  transparent;left: 107px;top: 291px;font-size: 14px;line-height: 76px;}
.vq2-check{color: #9963FF;height: 23px;position: absolute;width: 71px;cursor: pointer;border-width: 2px;border-style: solid none none solid;border-color:  transparent;left: 34px;top: 342px;}
.vq2-leak{color: #9963FF;height: 23px;position: absolute;width: 71px;cursor: pointer;border-width: 2px;border-style: solid none none solid;border-color:  transparent;left: 107px;top: 342px;}

.stock-amount{position: absolute;left: 397px;top: 115px;font-size: 16px;color: #9963FF;}

#generalInfo {
	clear:left;
}

#block p{margin:0 10px;}
#block a{margin:10px 0}
#block .progress{margin-bottom: 0px;}


.data-node{border-radius: 23px;
	color: white;
    font-size: 10px;
    height: 45px;
    position: absolute;
    width: 45px;
    cursor: pointer;
    border:2px solid transparent;
z-index: 9999;}

.outware-data{left: 492px;
top: 53px;}
.inware-data{left: 595px;height: 58px;
top: 171px;}
.road-data{left: 489px;
top: 250px;}
.vq3-data{left: 216px;top: 250px;}
.leak-data{left: 325px;top: 250px;}

.vq1-data{left: 38px;
top: 422px;}


.vq3-balance-data{color: transparent;
height: 130px;
position: absolute;
width: 157px;
cursor: pointer;
border: 2px solid transparent;
left: 153px;
top: 226px;
line-height: 145px;
text-align: center;
font-size: 36px;}
.vq3-balance-data:hover{color: #9963FF;border-color:  #9963FF;}
.vq2-road-data{color: transparent;
height: 117px;
position: absolute;
width: 187px;
cursor: pointer;
border-width: 2px;
border-style: solid solid none solid;
border-color: transparent;
left: 317px;
top: 243px;
font-size: 36px;
line-height: 117px;
text-align: center;}
.vq2-check-data{color: transparent;
height: 61px;
position: absolute;
width: 164px;
cursor: pointer;
border-width: 2px;
border-style: solid none solid solid;
border-color: transparent;
left: 153px;
top: 361px;
font-size: 14px;
line-height: 76px;}
.vq2-leak-data{color: transparent;
height: 70px;
position: absolute;
width: 187px;
cursor: pointer;
border-width: 2px;
border-style: none solid solid none;
border-color: transparent;
left: 319px;
top: 354px;
font-size: 14px;
line-height: 76px;}
.border-purple{border-color:  #9963FF;color: #9963FF;}


.warehouse-node{border-radius: 23px;
	color: white;
    font-size: 10px;
    height: 45px;
    position: relative;
    width: 45px;
    cursor: pointer;
    border:2px solid transparent;}

.outware-warehouse{
	left: 312px;
	top: -981px;
	z-index: 200;
}
.inware-warehouse{
	left: 385px;
	top: -1030px;
	z-index: 200;
}
.vq3-warehouse{
	left: 73px;
	top: 381px;
	z-index: 200;
	border-style: solid;
	border-color: red;
}

#blockDetail{/*position: absolute;*/
/*width: 300px;*/
height: 475px;
/*left: 735px;
top: 67px;*/
/*margin-left: 735px;*/}
.area-a{position: relative;
/*background: url(../../../../img/hover_A.png) no-repeat 0 0 ;*/
z-index: 200;
width: 127px;
height: 63px;
left: 370px;
top: -1224px;
cursor: pointer;
color: gray;
font-size: 26px;
/*text-align: center;*/
line-height: 65px;}
.area-b{position: relative;
/*background: url(../../../../img/hover_B.png) no-repeat 0 0 ;*/
z-index: 200;
width: 129px;
height: 64px;
left: 370px;
top: -1357px;
cursor: pointer;
color: gray;
font-size: 26px;
/*text-align: center;*/
line-height: 65px;}
.area-c{position: relative;
/*background: url(../../../../img/hover_C.png) no-repeat 0 0 ;*/
z-index: 200;
width: 129px;
height: 63px;
left: 370px;
top: -1492px;
cursor: pointer;
color: gray;
font-size: 26px;
/*text-align: center;*/
line-height: 65px;}
.area-d{position: relative;
/*background: url(../../../../img/hover_D.png) no-repeat 0 0 ;*/
z-index: 200;
width: 129px;
height: 63px;
left: 370px;
top: -1627px;
cursor: pointer;
color: gray;
font-size: 26px;
/*text-align: center;*/
line-height: 75px;}

.area-e{position: relative;
/*background: url(../../../../img/hover_E.png) no-repeat 0 0 ;*/
z-index: 200;
width: 226px;
height: 63px;
left: 134px;
top: -1618px;
cursor: pointer;
color: gray;
font-size: 26px;
text-align: center;
line-height: 65px;}

.area-f{position: relative;
/*background: url(../../../../img/hover_F.png) no-repeat 0 0 ;*/
z-index: 200;
width: 58px;
height: 108px;
left: 69px;
top: -1726px;
cursor: pointer;
color: gray;
font-size: 26px;
text-align: center;
line-height: 100px;
}

.area-g{position: relative;
/*background: url(../../../../img/hover_G.png) no-repeat 0 0 ;*/
z-index: 200;
width: 226px;
height: 63px;
left: 133px;
top: -1863px;
cursor: pointer;
color: gray;
font-size: 26px;
text-align: center;
line-height: 65px;}

.quantity{
	color: #9966FF;
}


.area-lane{position: relative;
/*background: url(../../../../img/hover_lane.png) no-repeat 0 0 ;*/
z-index: 200;
width: 95px;
height: 201px;
left: 252px;
top: -1817px;
cursor: pointer;
color: transparent;}
.area-a:hover{background: url(../../../../img/hover_A.png) no-repeat 0 0 ;}
.area-b:hover{background: url(../../../../img/hover_B.png) no-repeat 0 0 ;}
.area-c:hover{background: url(../../../../img/hover_C.png) no-repeat 0 0 ;}
.area-d:hover{background: url(../../../../img/hover_D.png) no-repeat 0 0 ;}
.area-e:hover{background: url(../../../../img/hover_E.png) no-repeat 0 0 ;}
.area-f:hover{background: url(../../../../img/hover_F.png) no-repeat 0 0 ;}
.area-g:hover{background: url(../../../../img/hover_G.png) no-repeat 0 0 ;}
.area-lane:hover{background: url(../../../../img/hover_lane.png) no-repeat 0 0 ;}

.area-total-amount{
	position: relative;
	width: 160px;
	line-height: 50px;
	height: 50px;
	left: 520px;
	top: -1750px;
	color: #9963FF;
	font-size: 50px;
	text-align: center;
	z-index: 205;
}
#blockDetail p, #laneDetail p{margin:0 10px;}
#blockDetail a, #laneDetail a{margin:10px 0}
#blockDetail .progress, #laneDetail .progress{margin-bottom: 0px;}
#freeLane, #fullLane, #loadingLane {
	font-size: 26px;
	line-height: 45px;
}

.lastTime {
	width: 60px;
	text-align: left;
}

#extraArea {
	font-size: 16px;
    left: 470px;
    position: relative;
    top: -2200px;
    width: 95px;
    z-index: 200;
}

#extraArea span {
	margin-bottom:10px;
}

#extraArea dt{
    margin-top: 5px;
    color: gray;
}

#extraArea dd{
    margin-top: 5px;
    color: #9966FF;
    text-align: right;
    width: 40px;
}

#divWarehousePeriod {
	font-size: 22px;
    left: 265px;
    position: relative;
    top: -2130px;
    width: 95px;
    z-index: 200;
}

#divTransportPeriod {
	font-size: 22px;
    left: 110px;
    position: relative;
    top: -2153px;
    width: 95px;
    z-index: 200;
}