/* CSS Document */
label {
	margin: 0px;
}

#divAlert {
	margin-top: 20px;
}

#tabs {
	/*margin-top: 20px;*/
	/*margin-bottom: 10px;*/
	margin-bottom: 0;
}

#tabContent table {
	margin-bottom: 0px;
}

#formFailure, #formBag  {
	margin-bottom: 10px;
}

.table th, .table td{
	vertical-align: middle;
}