#formVIN {
	margin-bottom: 10px;
}

label {
	margin: 0px;
}

#planViewToggle,#info {
	padding-left: 20px;
}

#tableList {
	margin-top: 15px;
	margin-bottom: 0px;
}

#row0 {
	color: #317eac;
	font-weight: bold;
}

/*
strong {
	color: #317eac;
}
*/