/* CSS Document */

#refresh{
	font-size: 21px;
    line-height: 40px;
}
#refresh:hover{
	text-decoration: none;
}

#tableBoard td, #tableBoard th{
	text-align: center;
}

#tableBoard .progress {
    margin-bottom: 0;
}

#tableBoard .progress {
    margin-bottom: 0;
}

#tableBoard .thumbnail{
	padding: 0;
}

#tableBoard .thickBorder td{
	border-top-width: 3px;
}

#tableBoard .rowSpanTd{
	background-color: white; 
}
