.main {
	background-image:url('../../../../img/nodeSelect_960x284.jpg');
	background-repeat:no-repeat;
	width:960px;
	height:284px;
	color: #FFF;
	font-weight:bold;
	font-size:9px;
	text-align:center; 
	overflow-y: hidden; 
}
	 
.node-rgl {
	position:relative;
	z-index:20;
	height:27px;
	width:27px;
	line-height:25px;
	font-size: 10px;
	cursor:pointer;
	border-radius: 20px;
	border: 3px solid transparent;
}  
.node-rgl:hover {
	border: 3px solid #9966FF;	
}
		  
.node-PBS {
	top:162px;
	left:20px;
}
		 
.node-T0 {
	top:129px;
	left:88px;
}
		 
.node-T11 {
	left: 141px;
    top: 96px;
}

.node-T21 {
	left: 180px;
   	top: 63px;
}

.node-T32 {
    left: 219px;
    top: 30px;
}

.node-C10 {
	left: 273px;
    top: -3px;
}

.node-C21 {
	left: 312px;
    top: -36px;
}

.node-F10 {
	left: 365px;
    top: -69px;
}

.node-F20 {
	left: 404px;
	top: -102px;
}

.node-VQ1 {
	left: 457px;
    top: -135px;
}
	   
.node-JCX {
	font-size: 10px;
    line-height:12px;
    left: 538px;
    top: -168px;
}

.node-LSWC {
	font-size: 10px;
    line-height:12px;
    left: 576px;
    top: -201px;
}

.node-VQ2 {
	font-size: 10px;
    line-height:12px;
    left: 615px;
    top: -234px;
}

.node-VQ3 {
	left: 668px;
    top: -267px;
}

.node-RK {
    left: 726px;
    top: -300px;
}


.node-standby {
    left: 765px;
    top: -333px;
}

.node-WDI {
	left: 805px;
    top: -366px;
}

.node-CK {
    left: 844px;
    top: -399px;
}

.node-rect{
	position:relative;
	z-index:20;
	height:13px;
	width:40px;
	line-height: 13px;
	font-size: 11px;
	cursor:pointer;
	border-radius: 2px;
	border: 3px solid transparent;
}  
.node-rect:hover{
	border: 3px solid #9966FF;
}

.node-FCD {
	left: 882px;
    top: -425px;
}

.node-YBFZ {
	left: 148px;
    top: -409px;
    width: 29px;
}

.node-QQFZ {
	left: 232px;
    top: -428px;
    width: 29px;
}

.node-FDJFZ {
	left: 270px;
    top: -447px;
}

.node-T0_2 {
	top: -566px;
	left: 88px;
}
		 
.node-T11_2 {
	left: 141px;
    top: -599px;
}

.node-T21_2 {
	left: 180px;
   	top: -632px;
}

.node-T32_2 {
    left: 219px;
    top: -665px;
}

.node-C10_2 {
	left: 273px;
    top: -698px;
}

.node-C21_2 {
	left: 312px;
    top: -731px;
}

.node-F10_2 {
	left: 365px;
    top: -764px;
}

.node-F20_2 {
	left: 404px;
	top: -797px;
}

.node-VQ1_2 {
	left: 457px;
    top: -830px;
}
