.main {
	background-image:url('../../../../img/nodeSelect_960x284.jpg');
	background-repeat:no-repeat;
	width:960px;
	height:284px;
	color: #FFF;
	font-weight:bold;
	font-size:9px;
	text-align:center; 
}
	 
.node-rgl {
	position:relative;
	/*background:url('../../../../img/node-rgl-nml.23x23.png');*/
	z-index:20;
	height:27px;
	width:27px;
	line-height:25px;
	font-size: 11px;
	cursor:pointer;
	border-radius: 20px;
	border: 3px solid rgba(153,102,255,0);
}  
.node-rgl:hover {
	/*background:url('../../../../img/node-rgl-hover.23x23.png');*/
	border: 3px solid rgba(153,102,255,1);	
}
		   
.node-qg {
	position:relative;
	background:url('../../../../img/node-qg-nml.23x23.png');
	z-index:20;
	height:23px;
	width:23px;
	line-height:21px;
	cursor:pointer;
}  
.node-qg:hover {
	background:url('../../../../img/node-qg-hover.23x23.png');
}
		   
.node-PBS {
	top:162px;
	left:20px;
}
		 
.node-T0 {
	top:129px;
	left:88px;
}
		 
.node-T11 {
	left: 141px;
    top: 96px;
}

.node-T21 {
	left: 180px;
   	top: 63px;
}

.node-T32 {
    left: 219px;
    top: 30px;
}

.node-C10 {
	left: 273px;
    top: -3px;
}

.node-C21 {
	left: 312px;
    top: -36px;
}

.node-F10 {
	left: 365px;
    top: -69px;
}

.node-F20 {
	left: 404px;
	top: -102px;
}

.node-VQ1 {
	left: 457px;
    top: -135px;
}
	   
.node-JCX {
	font-size: 10px;
    line-height:12px;
    left: 538px;
    top: -168px;
}

.node-LSWC {
	font-size: 10px;
    line-height:12px;
    left: 576px;
    top: -201px;
}

.node-VQ2 {
	font-size: 10px;
    line-height:12px;
    left: 615px;
    top: -234px;
}

.node-VQ3 {
	left: 668px;
    top: -267px;
}

.node-RK {
    left: 726px;
    top: -300px;
}


.node-standby {
    left: 765px;
    top: -333px;
}

.node-WDI {
	left: 805px;
    top: -366px;
}

.node-CK {
    left: 844px;
    top: -399px;
}

.node-rect{
	position:relative;
	z-index:20;
	height:13px;
	width:40px;
	line-height: 13px;
	font-size: 11px;
	cursor:pointer;
	border-radius: 2px;
	border: 3px solid rgba(153,102,255,0);
}  
.node-rect:hover{
	border: 3px solid rgba(153,102,255,1);
}

.node-FCD {
	left: 882px;
    top: -425px;
}

.node-YBFZ {
	left: 148px;
    top: -409px;
    width: 29px;
}

.node-QQFZ {
	left: 232px;
    top: -428px;
    width: 29px;
}

.node-FDJFZ {
	left: 270px;
    top: -447px;
}

