.main {
	background-image:url('../../../../img/nodeSelect_960x284.jpg');
	background-repeat:no-repeat;
	width:960px;
	height:284px;
	color: #FFF;
	font-weight:bold;
	font-size:9px;
	text-align:center; 
	overflow-y: hidden; 
}
	 
.node-rgl {
	position:relative;
	z-index:20;
	height:35px;
	width:35px;
	line-height:33px;
	font-size: 10px;
	cursor:pointer;
	border-radius: 20px;
}  
.node-rgl:hover {
	background: #9966FF;
	opacity: 1;
}

.node-rgl p {
	margin: 0;
	padding-top: 0;
}

.node-rgl p:first-child {
	margin: 0px;
	padding-top: 5px;
}
		  
.node-PBS {
	top:161px;
	left:19px;
}
		 
.node-T0 {
	top:126px;
	left:87px;
}
		 
.node-T11 {
	left: 140px;
    top: 91px;
}

.node-T21 {
	left: 180px;
   	top: 56px;
}

.node-T32 {
    left: 219px;
    top: 21px;
}

.node-C10 {
	left: 272px;
    top: -14px;
}

.node-C21 {
	left: 311px;
    top: -49px;
}

.node-F10 {
	left: 364px;
    top: -84px;
}

.node-F20 {
	left: 403px;
	top: -119px;
}

.node-VQ1 {
	left: 456px;
    top: -154px;
}
	   
.node-JCX {
	font-size: 10px;
    line-height:12px;
    left: 536px;
    top: -189px;
}

.node-LSWC {
	font-size: 10px;
    line-height:12px;
    left: 575px;
    top: -224px;
}

.node-VQ2 {
	font-size: 10px;
    line-height:12px;
    left: 614px;
    top: -259px;
}

.node-VQ3 {
	left: 668px;
    top: -294px;
}

.node-RK {
    left: 725px;
    top: -329px;
}


.node-standby {
    left: 765px;
    top: -364px;
}

.node-WDI {
	left: 804px;
    top: -399px;
}

.node-CK {
    left: 843px;
    top: -434px;
}

.node-rect{
	position:relative;
	z-index:20;
	height:18px;
	width:46px;
	line-height: 18px;
	font-size: 11px;
	cursor:pointer;
	border-radius: 2px;
	/*background: #9966FF;*/
	/*opacity: 0.5;*/
}  
.node-rect:hover{
	background: #9966FF;
	opacity: 1;
}

.node-FCD {
	left: 882px;
    top: -461px;
}

.node-YBFZ {
	left: 148px;
    top: -444px;
    width: 36px;
}

.node-QQFZ {
	left: 231px;
    top: -462px;
    width: 36px;
}

.node-FDJFZ {
	left: 270px;
    top: -480px;
}

.node-T0_2 {
	top: -598px;
	left: 87px;
}
		 
.node-T11_2 {
	left: 141px;
    top: -633px;
}

.node-T21_2 {
	left: 180px;
   	top: -668px;
}

.node-T32_2 {
    left: 219px;
    top: -703px;
}

.node-C10_2 {
	left: 272px;
    top: -738px;
}

.node-C21_2 {
	left: 311px;
    top: -773px;
}

.node-F10_2 {
	left: 364px;
    top: -808px;
}

.node-F20_2 {
	left: 403px;
	top: -843px;
}

.node-VQ1_2 {
	left: 457px;
    top: -878px;
}

.node-BJK {
	left: 451px;
    top: -877px;
}

.node-S1 {
	left: 105px;
    top: -831px;
    width: 36px;
}

.node-S2 {
	left: 190px;
    top: -849px;
    width: 36px;
}

.node-S3 {
	left: 369px;
    top: -867px;
    width: 36px;
}
