#tableCarInfo {
	margin-top: 20px;
	margin-bottom: 0px;
}

#form {
	margin-bottom: 10px;
}

#tablePlan {
	margin-top: 15px;
	margin-bottom: 0px;
}

strong {
	color: #317eac;
}

label {
	margin: 0px;
	padding-left: 5px;
}

#notallowAlert, #infoAlert, #errorAlert {
	padding-left: 20px;
	margin-bottom: 10px;
}

.T_chexi_width{
		width :30px;
		}
.T_vin_width{
		width :145px;
		}
.T_chexing_width{
		width :180px;
		}
.T_yanse_width{
		width :45px;
		}
.T_nianfen_width{
		width :40px;
		}
.T_peizhi_width{
		width :90px;
		}
.T_dingdanleixing_width{
		width :70px;
		}
.T_teshudanhao_width{
		width :70px;
		}
.T_beizhu_width{
		width : auto;
		}
.T_xuhao_width{
		width :30px;
		}
.T_daishangxian_width{
		width :45px;
		}
.lingbujianmingchen{
         width :300px;
        } 