label {
	margin: 0px;
}

#tableConfirmation {
	margin-bottom: 15px;
	margin-top: 20px;
	border-bottom: 1px solid #DDDDDD;
}

.form-search .input-append .btn {
    border-radius: 0 3px 3px 0;
    width: 8px;
}

#formConfirmation {
	margin-bottom: 10px;
}

.table th, .table td{
	vertical-align: middle;
}

input[type="checkbox"] {
	margin-top:0px;
	margin-bottom:2px;
}

.btn-group {
	vertical-align:middle;	
}
/*
strong {
	color: #317eac;
}
*/