label {
	margin: 0px;
}

#divAlert {
	margin-top: 10px;
}

#formFailure {
	margin-bottom: 10px;
}

.table th, .table td{
	vertical-align: middle;
}

input[type="checkbox"] {
	margin-top:0px;
	margin-bottom:2px;
}

#tabs {
	height: 37px;
	margin-top: 20px;
	margin-bottom: 0px;
}