/* CSS Document */
label {
	margin: 0px;
}

#divAlert {
	margin-top: 20px;
}

#messageAlert {
	margin-bottom: 0;
}

#tabs {
	/*margin-top: 20px;*/
	/*margin-bottom: 10px;*/
	margin-bottom: 0;
}

#tabContent table {
	margin-bottom: 0px;
}

#formFailure, #formBag  {
	margin-bottom: 10px;
}

.table th, .table td{
	vertical-align: middle;
}

#componentTable {
	margin-bottom: 0;
	margin-top: 10px;
}

#formBarCode {
	margin-bottom: 10px;
}

#checkAlert .alert {
	margin-top: 5px;
	margin-bottom: 0;
}